<div class="col col-md-6 offset-3" id="page">

    <form>
  
      <div class="form-group">
        <select class="form-control">
            <option>Select Insulin Name</option>
            <option *ngFor="let m of items | async">{{ m.name }}</option>
        </select>
      </div>
  
      <div class="form-group">
          <select class="form-control">
              <option>Select Brand</option>
              <option *ngFor="let m of items | async">{{ m.brand }}</option>
          </select>
      </div>

      <div class="form-group">
          <select class="form-control">
              <option>Select Type</option>
              <option *ngFor="let m of items | async">{{ m.type }} </option>
          </select>
      </div>

      <div class="form-group">
          <select class="form-control">
              <option>Select ML</option>
              <option *ngFor="let m of items | async">{{ m.ml }} </option>
          </select>
      </div>

      <div class="form-group">
          <label>Refrigerated?</label>
          <input type="checkbox" class="form-control"/>
      </div>

      <div class="form-group">
          <label>Opened?</label>
          <input type="checkbox" class="form-control"/>
      </div>
       
      <div class="form-group">
          <input type="text" placeholder="Select Date" class="form-control"/>
      </div>
  
      <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit"/>
      </div>
  
    </form>
  
  </div>