<div class="container" id="adminpage">
  <h5>Administrators</h5>
  <table class="table table-sm table-hover">
      <tr>
        <th>Fullname</th>
        <th>Email Address</th>
      </tr>
      <tr *ngFor="let admin of adminList">
        <td>{{ admin.fullname }}</td>
        <td>{{ admin.email }}</td>
        <td>
            <a (click)="onEdit(admin)">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <a (click)="onDelete(admin.$key)">
                <i class="fa fa-trash"></i>
            </a>
        </td>
      </tr>

  </table>

</div>