#opt{
    border: 1px solid #f3f0ea;
    margin-right: 1%;
    height: 250px;
    /**text-align: center;**/
    padding-top: 30px;
    width: 100%;
}

#opt:hover{
    background: #fbf8f4;
    cursor: pointer;
}

#title{
    color: #8ebac6;
    /* border-bottom:5px solid red;*/
    font-size: 30px; 
    /*text-decoration: underline;*/
    text-decoration-color: red;
    border-bottom: 3px solid red;
   
}

#subtext{
    font-style: italic;
    font-size: 12px;
    
}

#qstar{
    margin-bottom: 30px;
}

#locBtn{
    font-size: 20px;
    width: 30%;
}
#locBtn img{
    margin:0
}

#vys{
    color:red;
    font-size:12px;
    margin-left: 60px;
}