<div class="container">

    <div id="title" class="text-center">Home</div>

    <div class="row col-md-12 col-sm-12" id="page">

        <div id="opt" class="col-md-12 col-sm-12" >
          <div id="locBtn">
              <img class="img-fluid offset-2" (click)="navToExp()" src="assets/expirationdate.png" width="100" height="75"/>
              <br/>
              <span id="locBtn" (click)="navToExp()">Expiration Date Calculator</span>
              <img id="qstar" tooltip="This is a sample tooltip" placement="top" show-delay="500" src="assets/help.png" width="15" height="15"/>
          </div>
        </div>
        <br/><br/>
      
        <div id="opt" class="col-md-12 col-sm-12" > 
          <div id="locBtn">
              <img class="img-fluid offset-2" (click)="navToInsulin()" src="assets/insulin.png" width="100" height="75"/>
              <br/>
              <span id="locBtn" (click)="navToInsulin()">Insulin Expiration Guide</span>
              <img id="qstar" tooltip="This is a sample tooltip" placement="top" show-delay="500" src="assets/help.png" width="15" height="15"/>
              <div id="vys">Via yearly subscription</div>
          </div>
        </div>
        <br/><br/>
        
        <div id="opt" class="col-md-12 col-sm-12"> 
          <div id="locBtn">
              <img class="img-fluid offset-2" (click)="navToRecall()"  src="assets/recall.png" width="100" height="75"/>
              <br/>
              <span id="locBtn" (click)="navToRecall()">Medication Recalls</span>
              <img id="qstar" tooltip="This is a sample tooltip" placement="top" show-delay="500" src="assets/help.png" width="15" height="15"/>
              <div id="vys">Via yearly subscription</div>
          </div>
        </div>

    </div>            
</div>

