<div>
  <form #medinfoForm="ngForm" (ngSubmit)="onSubmit(medinfoForm)">
     <div class="form-group">
        <input type="text" placeholder="Medication Type" name="type" #type="ngModel" [(ngModel)]="medinfoService.selectedMedinfo.type"  class="form-control">
     </div>

     <div class="form-group">
        <input type="text" placeholder="Medication Name" name="name" #name="ngModel" [(ngModel)]="medinfoService.selectedMedinfo.name"  class="form-control">
     </div>

     <div class="form-group">
         <input type="text" placeholder="Medication Date" name="date" #date="ngModel" [(ngModel)]="medinfoService.selectedMedinfo.date" class="form-control">
     </div>

     <div class="form-group">
         <input type="submit" value="Submit" class="btn btn-primary">
     </div>

  </form>
</div>