<div class="col col-md-10 offset-1" id="page">

  <div class="row">
    <div class="col col-md-4">
      <a href="admin/users" class="btn btn-primary btn-large">Manage Users</a>
    </div>

    <div class="col col-md-4">
      <a href="admin/subscribers" class="btn btn-primary btn-large">Manage Newsletter</a>
    </div>

    <div class="col col-md-4">
      <a href="admin/administrators" class="btn btn-primary btn-large">Manage Administrators</a>
    </div>

  </div>
  <br/>

  <div class="row">
      <div class="col col-md-4">
        <a href="admin/medinfo" class="btn btn-primary btn-large">Manage Medication Data</a>
      </div>
    
      <div class="col col-md-4">
        <a href="admin/recall" class="btn btn-primary btn-large">Manage Recalls</a>
      </div>
  
      <div class="col col-md-4">
        <a href="admin/insulin" class="btn btn-primary btn-large">Manage Insulin guide</a>
      </div>
  </div>
  <br/>

  <div class="row">
      <div class="col col-md-4">
        <a href="admin/medtype" class="btn btn-primary btn-large">Manage Medication Type</a>
      </div>

      <div class="col col-md-4">
        <a href="admin/subscription" class="btn btn-primary btn-large">Manage Subscriptions</a>
      </div>
  
      <div class="col col-md-4">
          <a href="admin/faqs" class="btn btn-primary btn-large">Manage FAQs</a>
      </div>  

  </div>
  <br/>

</div>
