

  body {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
  }
  
  .footer {
    flex-shrink: 0;
    background-color: #323f52;
  } 
  

  #title{
    color: #8ebac6;
    border-bottom:5px solid red;
    margin-bottom: 2em;
    font-size: 30px;   
}