<div class="col col-6 offset-3">
    <h4>About MedExpiration</h4>
</div>

<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col col-4 text-center" (click)="navToExpirationdate()">
                    <img src="assets/medbottom.png" width="50" height="50" />
                </div>
                <div class="col col-4 text-center" (click)="navToInsulin()">
                    <img src="assets/insulinbottom.png" width="35" height="45" />
                </div>
                <div class="col col-4 text-center" (click)="navToRecall()">
                    <img src="assets/recallbottom.png" width="50" height="50" />
                </div>
            </div>
        </div>
    </footer> 