<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
 

<div class="col col-6 offset-3" id="page">

  <form>

    <div class="form-group">
      <input type="text" placeholder="Password" [(ngModel)]="changePwd.pwd" class="form-control">
    </div>

    <div class="form-group">
        <input type="text" placeholder="Password Again" [(ngModel)]="changePwd.pwd2" class="form-control">
    </div>

    <div class="form-group">
        <input type="submit" value="Change Password" (click)="changePassword()" class="btn btn-primary">
    </div>

  </form>

</div>>