<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="col col-6 offset-3" id="page">

  <form  #loginForm="ngForm" (ngSubmit)="authenticateUser(loginForm)">
      <div class="form-group">
          <input type="text" #email="ngModel" name="email" [(ngModel)]="login.email" class="form-control" placeholder="Email Address"/>
      </div>

      <div class="form-group">
        <input type="password" #pwd="ngModel" name="pwd" [(ngModel)]="login.pwd" class="form-control" placeholder="Password"/>
      </div>

      <div class="form-group">
          <label>
              <input type="checkbox" name="stay" #stay="ngModel"  [(ngModel)]="login.stay"/>
              Remember Me ?
          </label>
      </div>

      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary"/>
      </div>

      <div>
          <!-- <span class="pull-left">
            <a href="/register">New Account</a>
          </span> -->
          <span class="pull-right">
              <a href="/forgotpassword">Forgot Password ?</a>
          </span>
      </div>

  </form>

</div>
