#page{
    margin-top:5em;
}

#sidebtn{
    background-color: #938f71;
    color: black;
    margin-top: 75px;
    margin-left: 7px;
}

#sidebardiv img{
    margin-left: 3px;
}

#sidebardiv{
    background-color: #938f71; 
}
