<ng-sidebar-container height="100vh" style="height:100vh">
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" closeOnClickOutside="true">
        <div id="sidebardiv">
            <div>
                <a closeSidebar>Settings : Safely Administer Medications</a>
            </div><br/>
            <div>
                <img src="assets/home.png" width="25" height="25"/>
                <a closeSidebar id="sidebtn"  (click)="navToHome()">Home</a>
            </div><br/>
           
            <div *ngIf="admin == true"> 
                <img src="assets/blue_logo.png" width="35" height="35" />
                <a closeSidebar id="sidebtn" (click)="navToAdmin()">Admin</a>
            </div>
            <br *ngIf="admin == true"/>

            <div>
                <img src="assets/settings.png" width="25" height="25" />
                <a closeSidebar id="sidebtn" (click)="navToProfile()">Profile/My Account</a>
            </div><br/>

            <div>
                <img src="assets/blue_logo.png" width="35" height="35" />
                <a closeSidebar id="sidebtn" (click)="navToAbout()">About</a>
            </div><br/>

            <div>
                <img src="assets/share.png" width="25" height="25" />
                <a closeSidebar id="sidebtn" (click)="navToShare()">Share with friends</a>
            </div><br/>

            <div>
                <img src="assets/faq.png" width="25" height="25" />
                <a closeSidebar id="sidebtn" (click)="navToFaqs()">FAQs</a>
            </div><br/>

            <div>
                <img src="assets/sub.png" width="25" height="25" />
                <a closeSidebar id="sidebtn" (click)="navToSub()">Subscription Information</a>
            </div><br/>

            <div>
                <img src="assets/contact.png" width="25" height="25" />
                <a closeSidebar id="sidebtn"  (click)="navToContact()">Contact Us</a>
            </div><br/>

            <div>
                <img src="assets/privacy.png" width="25" height="25" />
                <a closeSidebar id="sidebtn" href="http://www.medexpiration.com/privacy.html" target="_blank">Privacy Policy</a>
            </div><br/>

            <div>
                <img src="assets/terms.png" width="25" height="25" />
                <a closeSidebar id="sidebtn" href="http://www.medexpiration.com/termsofuse.html" target="_blank">Terms of Service</a>
            </div><br/>

            <div>
                <img src="assets/logout.png" width="25" height="25" />
                <a closeSidebar id="sidebtn" (click)="logout()" > Logout </a>
            </div><br/><br/>
            
        </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content id="page-content">

            <nav class="navbar navbar-expand-lg" style="background-color:#323f52">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a *ngIf="showSidebar" (click)="_toggleSidebar()" class="toggler-example"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="dark-blue-text"><i class="fa fa-bars fa-1x" style="color:white;"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a style="color:white;" class="navbar-brand mx-auto">
                        <img  src="assets/logo.png" width="50" height="50" />
                        {{ pgtitle }}
                    </a>
                    <button class="navbar-toggler" 
                        type="button" data-toggle="collapse" 
                        data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item pull-right">
                            <a class="nav-link" style="color:white;" *ngIf="showSidebar">Welcome {{ fullname }}</a>
                        </li>
                    </ul>
                </div>
            </nav>    

        <!-- <button (click)="_toggleSidebar()">Toggle sidebar</button> -->
        <!-- <button *ngIf="showSidebar" (click)="_toggleSidebar()" class="navbar-toggler toggler-example" type="button"
        aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fa fa-bars fa-1x"></i></span></button> -->

        <router-outlet id="rot">

        </router-outlet>
    </div>
</ng-sidebar-container>




