<div class="col col-md-6 offset-3" id="page">

    <form #pwdForm="ngForm" (ngSubmit)="retrievePwd(pwdForm)">
        <div class="form-group">
            <input type="text" name="email" #email="ngModel" [(ngModel)]="pwd.email" class="form-control" placeholder="Email Address"/>
        </div>
  
        <div class="form-group">
          <input type="submit" value="Reset Password" class="btn btn-primary"/>
        </div>
  
    </form>

    <div>
      <a href="/login">Back to login</a>
    </div>    
  
  </div>
  