<div class="container" id="adminpage">
  <h5>Administrators</h5>
  <table class="table table-sm table-hover">
      <tr>
        <th>Fullname</th>
        <th>Email Address</th>
        <th>Is Admin</th>
        <th></th>
      </tr>
      <tr *ngFor="let admin of adminList">
        <td>{{ admin.fullname }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.admin }}</td>
        <td>
            <span class="switch" *ngIf="!admin.admin" (click)="makeAdmin(sub.email)">
                <input type="checkbox" value="true" class="switch" id="{{i}}">
                <label for="{{i}}">Make Admin</label>
            </span>

            <span class="switch" *ngIf="admin.admin" (click)="removeAdmin(sub.email)">
                <input type="checkbox" checked class="switch" id="{{i}}">
                <label for="{{i}}">Revoke Admin</label>
            </span>

          </td>
      </tr>

  </table>

</div>