<div class="container" id="adminpage" >

    <table class="table table-sm table-hover">
        <tr *ngFor="let sub of subList; let i = index">
          <td>{{ sub.fullname }}</td>
          <td>{{ sub.email }}</td>
          <td>{{ sub.subscribed_date }}</td>
          <td>
            <span class="switch" (click)="disableSub(sub.email)">
                <input type="checkbox" class="switch" id="{{i}}">
                <label for="{{i}}">Toggle</label>
            </span>
          </td>
          <td>
              <a class="btn" (click)="onDelete(sub.$key)">
                  <i class="fa fa-trash"></i>
              </a>
          </td>
        </tr>
    </table>

</div>