<div class="col col-md-6 offset-3" id="page">

  <form>

    <div class="form-group">
      <select class="form-control">
          <option>Select Medication Type</option>
          <option></option>
      </select>
    </div>

    <div class="form-group">
        <select class="form-control">
            <option>Select Medication Name</option>
            <option></option>
        </select>
    </div>
     
    <div class="form-group">
        <input type="text" placeholder="Select Date" class="form-control"/>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>

  </form>

</div>