.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #323f52;
  }

  :host >>> .completer-input{
    width: 100%;
  }
  :host >>> .completer-dropdown {
    width: 100% !important;
    position: relative !important;
}

#title{
  color: #8ebac6;
  border-bottom:2px solid red;
  margin-bottom: 2em;
  font-size: 20px;
}

#qstar{
  margin-bottom:40px;
}

#res-1{
  color:red;
}

#res-2{
  font-size: 20px;
  color: #323f52
  
}

#res-3-0{
  color: #938f71
}

#res-3-1{
    color: #080808
}

#res-4{
  color: red;
  font-size: 15px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color:#323f52 !important;
}
  
