<div class="container">
  <div class="row col-12">
      <h4>Recall List</h4>
      <table class="table table-sm table-hover">
        <tr>
          <th>Medicine</th>
          <th>Manufacturer</th>
          <th>Recall Date</th>
          <th></th>
        </tr>
        <tr *ngFor="let rec of recallList">
          <td>{{ rec.medicine }}</td>
          <td>{{ rec.manufacturer}}</td>
          <td>{{ rec.recalldate }}</td>
          <td>
              <a (click)="onEdit(rec)">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <a (click)="onDelete(rec.$key)">
                  <i class="fa fa-trash"></i>
              </a>
          </td>
        </tr>
      </table>
  </div>
</div>