<div id="page" class="col col-6 offset-3">

  <div>
     Annual Subscription is required to use the insulin and recall feature. Click the
     button below to subscribe now.
  </div>
  <button (click)="openCheckout()" class="btn btn-primary">Subscribe Now</button>

  <!-- <form #subForm="ngForm" (ngSubmit)="subscribeNow(subForm)">

      <div class="form-group">
        <input type="text" name="cardno" #cardno="ngModel" [(ngModel)]="sub.cardno" placeholder="Card number" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="cardyear" #cardyear="ngModel" [(ngModel)]="sub.cardyear" placeholder="Card Year" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="cardmonth" #cardmonth="ngModel" [(ngModel)]="sub.cardmonth" placeholder="Card Month" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="cardcvv" #cardcvv="ngModel" [(ngModel)]="sub.cardcvv" placeholder="Card CVV" class="form-control">
      </div>

      <div class="form-group">
        <input type="submit" value="Subscribe" class="btn btn-primary"/>
      </div>

  </form> -->

</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-4 text-center" (click)="navToExpirationdate()">
                <img src="assets/medbottom.png" width="50" height="50" />
            </div>
            <div class="col col-4 text-center" (click)="navToInsulin()">
                <img src="assets/insulinbottom.png" width="35" height="45" />
            </div>
            <div class="col col-4 text-center" (click)="navToRecall()">
                <img src="assets/recallbottom.png" width="50" height="50" />
               
            </div>
        </div>
    </div>
</footer> 