<div id="page" class="col col-6 offset-3">
  <h4 class="text-center" id="title">Contact Us / Feedback</h4>
  <form #contactForm="ngForm" (ngSubmit)="sendMessage(contactForm)">

      <div class="form-group">
        <select class="form-control" name="type" #type="ngModel" [(ngModel)]="contact.type">
          <option value="feedback">App Feedback</option>
          <option value="unlistedmed">Medication not listed</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-group">
          <input type="text" class="form-control" name="subject" #subject="ngModel" placeholder="Subject" [(ngModel)]="contact.subject" />
      </div>

      <div class="form-group">
          <textarea class="form-control" name="message" #message="ngModel" placeholder="Message" [(ngModel)]="contact.message"></textarea>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Send Message" />
      </div>

  </form>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-4 text-center" (click)="navToExpirationdate()">
                <img src="assets/medbottom.png" width="50" height="50" />
            </div>
            <div class="col col-4 text-center" (click)="navToInsulin()">
                <img src="assets/insulinbottom.png" width="35" height="45" />
            </div>
            <div class="col col-4 text-center" (click)="navToRecall()">
                <img src="assets/recallbottom.png" width="50" height="50" />
               
            </div>
        </div>
    </div>
</footer> 