<div>

  <form #adminRecallForm="ngForm" (ngSubmit)="submitForm(adminRecallForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="recallService.selectedRecall.$key" class="form-control">
        <div class="form-group">
            <input type="text" name="medicine" #medicine="ngModel" [(ngModel)]="recallService.selectedRecall.medicine" placeholder="Medicine" class="form-control">
        </div>

      <div class="form-group">
        <input type="text" name="manufacturer" #manufacturer="ngModel" [(ngModel)]="recallService.selectedRecall.manufacturer" placeholder="Manufacturer" class="form-control">
      </div>

      <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="date"  [(ngModel)]="recallService.selectedRecall.date" ngbDatepicker #d="ngbDatepicker">
            
            <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
            </button>
         </div>
      
        </div>

      <div class="form-group">
          <textarea placeholder="Reason for recall" name="reason" #reason="ngModel" [(ngModel)]="recallService.selectedRecall.reason" cols="30" rows="10" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-floppy-o"></i>Submit
        </button>
        <button class="btn btn-default" type="button" (click)="resetForm(adminRecallForm)">
            <i class="fa fa-repeat"></i> Reset
        </button>
      </div>

  </form>

</div>