<div id="cont">
    <div class="col col-md-6 offset-5" id="page">
        <div id="opt" (click)="navToExp()">
          <img src="assets/expirationdate.png" width="45" height="45"/>
          <span id="locBtn">Expiration Date Calculator</span>
        </div>
      
        <div id="opt" (click)="navToInsulin()"> 
          <img src="assets/insulin.png" width="45" height="45"/>
          <span id="locBtn">Insulin Expiration Guide</span>
        </div>
        
        <div id="opt" (click)="navToRecall()"> 
          <img src="assets/recall.png" width="45" height="45"/>
          <span id="locBtn">Medication Recalls</span>
        </div>
    </div>
            
</div>

